*.vo
*.vio
*.vos
*.vok
*.glob
*.aux
.coq-native/
theories/*/_CoqProject
theories/*/.dir-locals.el
.deps
.lia.cache
ocaml/*.ml
ocaml/*.mli
!ocaml/myocamlbuild.ml
!ocaml/utils.ml
!ocaml/*_main.ml
ocaml/_*/
